.parrent {
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px;
    grid-template-areas:"a b b b b c"
                        "d b b b b e"
                        "f b b b b g"
                        "h h j j k k"; 
    div {
        border: 1px solid;
        background-color: orange;
        &:nth-child(2) {
            grid-area: b;
            // grid-column-start: 2;
            // grid-column-end: 6;
            // grid-row-start: 1;
            // grid-row-end: 4;
            background-color: rgb(0, 255, 21)
        }
        &:nth-child(8) {
            grid-area: h;
            // grid-column-start: 1;
            // grid-column-end: 3;  
        }
        &:nth-child(9) {
            // grid-column-start: 3;
            // grid-column-end: 5;
            grid-area: j;
        }
        &:nth-child(10) {
            // grid-column-start: 5;
            // grid-column-end: 7;
            grid-area: k;
        }   
    }
    @media screen and (max-width: 480px) {
        padding: 0;
        margin:0;
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px; 
        grid-template-rows: 50px 50px 50px 50px 50px;
        grid-template-areas:"b b b b b b"
                            "b b b b b b"
                            "b b b b b b"
                            "a c d e f g"
                            "h h j j k k"; 

    }
}